<template>
	<div class="progress blue"> <span class="progress-left"> <span :class="classForLeftBar" ></span> </span> <span class="progress-right"> <span :class="classForRightBar"></span> </span>
		<div class="progress-value">{{procentage}}%</div>
	</div>
</template>

<script>
export default {
	props: {
		procentage: {
			type: Number,
			required: true
		}
	},
	methods: {
		getLoadProcL: function(){
			return Math.round(((this.procentage - 50) / 50) * 10) * 10;
		},
		getLoadProcR: function(){
			if(this.procentage > 50) return 100;
			return Math.round((this.procentage / 50) * 10) * 10;
		}
	},
	computed:{
		styleForLeftBar: function(){
			if(this.procentage < 50) return null;
			const loadProcentage = this.getLoadProcL();
			const time = loadProcentage/100 * 1.8;
			return {
					'animation-duration': `${time.toFixed(2)}s`,
					'animation-timing-function': 'linear',
					'animation-delay': '1.8s',
					'animation-name': `loading-${loadProcentage}`,
					'animation-fill-mode': 'forwards'
			}
		},
		classForLeftBar:function(){
			if(this.procentage < 50) return ['progress-bar'];
			return ['progress-bar', `animation-l-${this.getLoadProcL()}`]
		},
		classForRightBar:function(){
			return ['progress-bar', `animation-r-${this.getLoadProcR()}`]
		},
		styleForRightBar: function(){
			const loadProcentage = this.getLoadProcR();
			const time = loadProcentage/100 * 1.8;
			return `animation: loading-${loadProcentage} ${time.toFixed(2)}s linear forwards`			
		},
	},
	created() {
		
	},
}
</script>

<style scoped>

.mt-100 {
	margin-top: 200px
}

.progress {
	width: 150px;
	height: 150px !important;
	line-height: 150px;
	background: none;
	margin: 20px auto;
	box-shadow: none;
	position: relative
}

.progress:after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 12px solid #fff;
	position: absolute;
	top: 0;
	left: 0
}

.progress>span {
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1
}

.progress .progress-left {
	left: 0
}

.progress .progress-bar {
	width: 100%;
	height: 100%;
	background: none;
	border-width: 12px;
	border-style: solid;
	position: absolute;
	top: 0
}

.progress .progress-left .progress-bar {
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left
}

.progress .progress-right {
	right: 0
}

.progress .progress-right .progress-bar {
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
}

.progress .progress-value {
	width: 90%;
	height: 90%;
	border-radius: 50%;
	background: #000;
	font-size: 24px;
	color: #fff;
	line-height: 135px;
	text-align: center;
	position: absolute;
	top: 5%;
	left: 5%
}

.progress.blue .progress-bar {
	border-color: #049dff
}

.progress.yellow .progress-bar {
	border-color: #fdba04
}

.animation-l-10 {
	animation: loading-10 0.18s linear forwards 1.8s
}
.animation-l-20 {
	animation: loading-20 0.36s linear forwards 1.8s
}
.animation-l-30 {
	animation: loading-30 0.54s linear forwards 1.8s
}
.animation-l-40 {
	animation: loading-40 0.72s linear forwards 1.8s
}
.animation-l-50 {
	animation: loading-50 0.90s linear forwards 1.8s
}
.animation-l-60 {
	animation: loading-60 1.08s linear forwards 1.8s
}
.animation-l-70 {
	animation: loading-70 1.26s linear forwards 1.8s
}
.animation-l-80 {
	animation: loading-80 1.44s linear forwards 1.8s
}
.animation-l-90 {
	animation: loading-90 1.62s linear forwards 1.8s
}
.animation-l-100 {
	animation: loading-100 1.8s linear forwards 1.8s
}


.animation-r-10 {
	animation: loading-10 0.18s linear forwards
}
.animation-r-20 {
	animation: loading-20 0.36s linear forwards
}
.animation-r-30 {
	animation: loading-30 0.54s linear forwards
}
.animation-r-40 {
	animation: loading-40 0.72s linear forwards
}
.animation-r-50 {
	animation: loading-50 0.90s linear forwards
}
.animation-r-60 {
	animation: loading-60 1.08s linear forwards
}
.animation-r-70 {
	animation: loading-70 1.26s linear forwards
}
.animation-r-80 {
	animation: loading-80 1.44s linear forwards
}
.animation-r-90 {
	animation: loading-90 1.62s linear forwards
}
.animation-r-100 {
	animation: loading-100 1.8s linear forwards
}


@keyframes loading-10 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(18deg)
	}
}

@keyframes loading-20 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(144deg);
		transform: rotate(36deg)
	}
}

@keyframes loading-30 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(54deg)
	}
}

@keyframes loading-40 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(72deg)
	}
}

@keyframes loading-50 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(90deg)
	}
}

@keyframes loading-60 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(108deg)
	}
}

@keyframes loading-70 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(126deg)
	}
}

@keyframes loading-80 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(144deg)
	}
}

@keyframes loading-90 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(162deg)
	}
}

@keyframes loading-100 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(180deg)
	}
}
</style>