<template>
	<router-link class="" :to="{name: 'game', params: {id: game.id }}">
		<div class="card flex-row mb-1" style="height:100px">
			<img class="card-img-sm-left example-card-img-responsive" v-if="game.cover" v-bind:src="'https:' + game.cover.url"/>
			<div v-else style="width:98px"></div>
			<div class="card-body">
				<h4 class="card-title h5 h4-sm">{{game.name}}</h4>
				<p class="card-text">{{gameDate}}</p>
			</div>
		</div>
	</router-link>
</template>

<script>
export default {
	props:{
		game:{
			type: Object,
			required: true
		}
	},
	computed:{
		gameDate: function(){
			if(this.game.first_release_date === undefined) return null;
			return new Date(this.game.first_release_date * 1000).toLocaleDateString();
		}
	}
}
</script>

<style>

</style>