<template>
	<div class="container mt-3">
		<loading :active="isLoading" :can-cancel="true" :is-full-page="true"/>
		<div class="row" v-if="game">
			<div class="col-3">
				<img   :src="'https:' + game?.cover?.url"/>
				<div v-if="loggedIn" class="mt-2">
					<button v-if="!hasGameInList" type="button" class="btn btn-info" @click="addToList">Add to my list</button>
					<button v-else type="button" class="btn btn-danger" @click="deleteFromList">Remove from my list</button>
				</div>
				<cyrcle-progress-bar v-if="game.aggregated_rating" :procentage="game.aggregated_rating"/>
			</div>
			<div class="col-6 text-start text-black">
				<h2>{{game.name}}</h2>
				<h5>{{new Date(game.first_release_date*1000).toLocaleDateString()}}</h5>
				<game-info v-if="game.game_modes" title="Game modes" :texts="getNamesFromAtributeList(game.game_modes)" />
				<game-info v-if="game.genres" title="Genre" :texts="getNamesFromAtributeList(game.genres)" />
				<game-info v-if="game.platforms" title="Platforms" :texts="getNamesFromAtributeList(game.platforms)" />
				<p>{{game.summary}}</p>
				
			</div>
			<div class="col-md-3" v-if="game.websites">
				<div class="position-sticky" style="top: 2rem;">
					<div class="text-center">
					<h3 class="text-center">Links</h3>
					<hr>
					<div class="col list-group list-group-flush">
						<h4 class="text-center">Shops</h4>
						<link-with-icon :icon="['fab','steam']" :url="getWebsiteUrlByCategory(13)" text="Steam"/>
						<link-with-icon :icon="['fab','itch-io']" :url="getWebsiteUrlByCategory(15)" text="Itch.Io"/>
						<link-with-icon :icon="['fa','store']" :url="getWebsiteUrlByCategory(16)" text="Epic"/>
						
					</div>
					<div class="col">
						<h4 class="text-center">Other</h4>
						<link-with-icon :icon="['fa','external-link-square-alt']" :url="getWebsiteUrlByCategory(1)" text="Official page"/>
						<link-with-icon :icon="['fab','youtube']" :url="getWebsiteUrlByCategory(9)" text="Youtube"/>
						<link-with-icon :icon="['fab','twitch']" :url="getWebsiteUrlByCategory(6)" text="Twitch"/>
						<link-with-icon :icon="['fab','facebook']" :url="getWebsiteUrlByCategory(4)" text="Facebook"/>
						<link-with-icon :icon="['fab','instagram']" :url="getWebsiteUrlByCategory(8)" text="Instagram"/>
						<link-with-icon :icon="['fab','twitter']" :url="getWebsiteUrlByCategory(5)" text="Twitter"/>
						<link-with-icon :icon="['fab','wikipedia-w']" :url="getWebsiteUrlByCategory(3)" text="Wikipedia"/>
						<link-with-icon :icon="['fab','reddit']" :url="getWebsiteUrlByCategory(14)" text="Reddit"/>
					</div>
				</div>
				</div>
			</div>
			is loggedIn {{loggedIn}}
			has game in list {{hasGameInList}}
		</div>
		<div v-else>Error while loading data</div>
	</div>
</template>

<script>
import axios from 'axios';
import IGDBHelper, {IMAGE_QUALITIES} from '../../igdb_helper'
import CyrcleProgressBar from './CyrcleProgressBar.vue';
import LinkWithIcon from './LinkWithIcon.vue';
import GameInfo from './GameInfo.vue';
import Loading from 'vue-loading-overlay';
import LoginService from '../../services/LoginService'
import EventBus from '../../eventBus'

export default {
	components: { CyrcleProgressBar, LinkWithIcon, GameInfo, Loading },
	props: {
		id: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			loggedIn: LoginService.loggedIn,
			userData: LoginService.userData,
			game: { },
			isLoading: true,
			hasGameInList: false
		}
	},
	methods: {
		getWebsiteUrlByCategory: function(categoryId){
			return this.game.websites.find(site => site.category === categoryId)?.url;
		},
		getNamesFromAtributeList: function(list){
			return list.map(item => item.name);
		},
		checkHasGameInList: function(){
			if(!this.loggedIn) return false;
			if(this.userData.games.find(game => game.id === this.game.id)){
				return true;
			}
			return false;
		},
		deleteFromList: function(){
			axios.delete('/api/user/games',{data: {id: this.game.id} }).then(response => {			
				console.log(response);
				this.userData.games = this.userData.games.filter(game => game.id != this.game.id);
				LoginService.updateUserData(this.userData);
				this.hasGameInList = false;
			})			
		},
		addToList: function(){
			const game =  {id:this.game.id, name: this.game.name, data: ''};
			axios.post('/api/user/games', game).then(response => {			
				console.log(response);
				this.userData.games.push(game);
				LoginService.updateUserData(this.userData);
				this.hasGameInList = true;
			})			
		}

	},
	created() {
		this.isLoading = true;
		axios.get(`/api/igdb/games/detail/${this.id}`).then(response => {
			this.game = response.data[0];
			this.game.aggregated_rating = Math.round(this.game.aggregated_rating);
			this.game.cover.url = IGDBHelper.changeImageQuality(this.game.cover.url, IMAGE_QUALITIES.BigCover );
			this.isLoading = false;
			this.hasGameInList = this.checkHasGameInList();
		});		
		setTimeout(()=> {this.isLoading = false}, 1000);
		EventBus.on('login-update', () => {
			this.loggedIn = LoginService.isLoggedIn();
			this.userData = LoginService.userData;
			this.hasGameInList = this.checkHasGameInList();
		});
	},
}
</script>

<style>

</style>