<template>
  <p><span class="fw-bold">{{title}}: </span>{{texts.join(', ')}}</p>
</template>

<script>
export default {
	props:{
		texts: {
			type: Array
		},
		title:{
			type: String
		}
	}
}
</script>

<style>

</style>