<template>
	<a class="list-group-item border-0" v-if="url" :href="url" target="_blank" rel="noopener noreferrer nofollow"><font-awesome-icon class="color-black fa-2x" :icon="icon"/><span class="no-wrap px-2 fs-2">{{text}}</span></a>
</template>

<script>
export default {
	props: {
		icon: {
			type: Array,
		},
		url: {
			type: String,
		},
		text: {
			type: String,
		}
	}
}
</script>

<style>

</style>