<template>
	<div>
		<game-info-card v-for="game in games" v-bind:key="game.id" v-bind:game="game" />

	</div>
</template>

<script>
import GameInfoCard from './GameInfoCard.vue';
import axios from 'axios';

export default {
  components: { GameInfoCard },
	component:{
		GameInfoCard
	},
	props:{
		type:{
			type: String,
			default: "upcoming"
		}
	},
	data: function() {
		return {
			games: [		
			],
		}
	},
	methods: {
	},	
	created() {
		axios.get("/api/igdb/games/" + this.type).then(response => {
			this.games = response.data;
		})
	}

}
</script>

<style>

</style>