<template>
	<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mt-2">
		<div class="col-auto d-none d-lg-block p-0">
			<img :src="cover_big_url">
		</div>
		<div class="col p-4 d-flex flex-column position-static">
			<h3 class="d-inline-block mb-2 text-primary">{{data.name}}</h3>
			<div class="mb-1 text-muted">{{release_date}}</div>
			<p class="card-text mb-auto">{{data.summary}}</p>
			<router-link class="stretched-link" :to="{name: 'game', params: {id: data.id} }">Detail</router-link>			
		</div>
	</div>
</template>

<script>
import IGDBHelper, {IMAGE_QUALITIES}  from '../../igdb_helper'

export default {
	props:{
		data:{
			type: Object,
			required: true
		}
	},
	data(){
		return {
			release_date: null,
			cover_big_url: null
		}
	},
	created() {
		this.release_date = IGDBHelper.convertDate(this.data.first_release_date);
		this.cover_big_url = 'https:' + IGDBHelper.changeImageQuality(this.data.cover.url, IMAGE_QUALITIES.BigCover );
	},
}
</script>

<style>

</style>