<template>
<div class="container mt-3" >
	<search-item  v-for="result in searchResutls" :key="result.id" v-bind:data="result"/>
	<loading :active="isLoading" :can-cancel="true" :is-full-page="true"/>

	<span v-if="searchResutls.length == 0" class="strong ">Vyhledávání bez výsledku </span>
</div>
</template>

<script>
import SearchItem from './SearchItem.vue'
import axios from 'axios'
import Loading from 'vue-loading-overlay';

export default {
	components:{
		SearchItem,
		Loading
	},
	data() {
		return {
			searchResutls: [],
			isLoading: true
		}
	},
	created() {		
		axios.get(`/api/igdb/games/search`, {params: {q: this.$route.query.q}}).then(response => {
			this.searchResutls = response.data
			this.isLoading = false;
		});
		setTimeout(()=> {this.isLoading = false}, 1000);
	},
}
</script>

<style>

</style>