<template>
	<div class="list-group">
		<div class="list-group-item list-group-item-action" v-for="game in user.games" :key="game.id" >
			<router-link :to="{name: 'game', params: {id: game.id }}">
				{{game.name}}
			</router-link>
			<button type="button" class="btn btn-danger" @click.stop="deleteFromList(game.id)">Delete</button>
		</div>
		<div class="list-group-item list-group-item-action" v-if="user.games.length === 0">List is empty</div>
	</div>
</template>

<script>
import axios from 'axios';
import LoginService from '../../services/LoginService';
import EventBus from '../../eventBus'

export default {
	data() {
		return {
			loggedIn: LoginService.loggedIn,
			user: LoginService.userData,
		};
	},
	methods: {
		deleteFromList: function(id){
			axios.delete('/api/user/games', {data: {id}}).then(resp => {
				if(resp.status){
					this.user.games = this.user.games.filter(game => game.id != id);
					LoginService.updateUserData(this.user);
				}
			});
			
		}
	},
	created() {
		EventBus.on('login-update', () => {
			this.loggedIn = LoginService.isLoggedIn();
			this.user = LoginService.userData;
		});
	},
	beforeMount() {
		if(!LoginService.isLoggedIn()){
			this.$router.push({ name: "home"})
		}
	},
}
</script>

<style>

</style>