<template>
	<a class="" target="_blank" :href="'https://www.reddit.com' + post?.permalink">
		<div class="card flex-row mb-1" style="height:100px"><img v-if="post.thumbnail != 'default'" class="card-img-sm-left example-card-img-responsive" v-bind:src="post.thumbnail"/>
			<div class="card-body">
				<h4 class="card-title h5 h4-sm">{{post?.title}}</h4>
				<p class="card-text"><a target="_blank" :href="post.url">{{post?.url}} <font-awesome-icon icon="external-link-alt"/></a></p>
			</div>
		</div>
	</a>
</template>

<script>


export default {
	props:{
		post:{
			type: Object,
			required: true
		}
	},
	computed:{		
	}
}
</script>

<style>

</style>