<template>
	<header class="p-3 bg-dark text-white">
		<nav>
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<router-link class="navbar-brand text-whitee" :to="{name: 'home'}">Game info</router-link>
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			<li><router-link class="nav-link px-2 text-white" :to="{name: 'home'}">
						Home
					</router-link></li>
			</ul>
			<div>
				<form class="input-group" action="/search" method="get" >
					<input type="search" class="form-control form-control-dark" placeholder="Search..."  name="q" :value="$route.query.q"  aria-label="Search">
					<button class="btn btn-outline-success mx-2 my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
			<div v-if="!loggedIn">
				<router-link type="button" class="btn btn-primary me-2" :to="{name: 'login'}">Login</router-link>
				<router-link type="button" class="btn btn-primary me-2" :to="{name: 'register'}">Register</router-link>
			</div>
			<div v-else class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					{{userData?.username}}
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><router-link class="dropdown-item" :to="{name: 'user.list'}">My list of games</router-link></li>
					<li><button class="dropdown-item" @click="logout">Logout</button></li>
				</ul>
			</div>
		</div>
		</nav>
		
	</header>
	
</template>

<script>
import EventBus from '@/eventBus';
import LoginService from '../../services/LoginService';


export default {
	data: function () {
		return {
			loggedIn: false,
			userData: null,			
		};
	},
	methods: {
		logout: function () {
			LoginService.logout();
		}
	},
	created() {
		EventBus.on('login-update', () => {
			this.loggedIn = LoginService.isLoggedIn();
			this.userData = LoginService.userData;			
		});
	},

};
</script>

<style scoped>
	.router-link-exact-active{
		--bs-text-opacity: 1;
		color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
	}
</style>