<template>
  <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Stránka nebyla nalezena {{$t('message')}}</div>
                <router-link class="btn btn-link" :to="{name: 'home'}">Zpět na domovskou stránku</router-link>
            </div>
        </div>
    </div>
	
</template>

<script>
export default {

}
</script>

<style>

</style>