<template>
	<footer class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright © Game info web {{new Date().getFullYear()}}</span>
			</div>
		</div>
	</footer>
</template>

<script>
export default {

}
</script>

<style>

</style>