<template>
  <div class="container">
    <div>
      <h2>Reddit deals</h2>
      <list-of-reddit-posts/>
    </div>
      <div class="row">          
          <div class="col">
            <h3>Recent games</h3>
            <list-of-games :type="'recent'"/>
        </div>
        <div class="col">
          <h3>Coming soon</h3>
          <list-of-games :type="'upcoming'"/>
        </div>
      </div>
  </div>
</template>

<script>
import ListOfGames from './games/ListOfGames.vue'
import ListOfRedditPosts from './reddit/ListOfRedditPosts.vue'

export default {
  components:{
    ListOfGames,
    ListOfRedditPosts    
  }
}
</script>

<style>

</style>