<template>
	<div class="d-flex justify-content-center">
		<form class="col" style="max-width: 360px" v-if="!loggedIn" @submit.prevent="login">
			<div class="mb-3">
				<label for="username" class="form-label">Email</label>
				<input type="email" required class="form-control" id="username" autocomplete="email" v-model="user.email" placeholder="Your email">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">{{ $t('login.password') }}</label>
				<input type="password" required class="form-control" id="password" autocomplete="password" v-model="user.password">
			</div>
			<button class="btn btn-primary w-100" type="submit">
				<font-awesome-icon icon="sign-in-alt"></font-awesome-icon>
				Submit
			</button>
		</form>
		<div v-if="loggedIn">{{ $t('login.alreadyLoggedIn') }}</div>
	</div>
</template>

<script>
import EventBus from '@/eventBus';
import LoginService from '../../services/LoginService';
import axios from 'axios';

export default {
	name: 'LoginForm',
	data() {
		return {
			loggedIn: null,
			user: {email: '', password: ''},
		};
	},
	methods: {
		login: function (e) {
			e.preventDefault();
			
			axios.post('/api/auth/login', {email: this.user.email,password: this.user.password}).then(response =>{
				LoginService.updateUserData(response.data);
				this.$router.push({ name: "home"});
			});
			
		},
	},
	created() {
		EventBus.on('login-update', () => {
			this.loggedIn = LoginService.isLoggedIn();
			this.user.username = LoginService.userData.email;
		});
	},
	beforeMount() {
		if(LoginService.isLoggedIn()){
			this.$router.push({ name: "home"})
		}
	},
};
</script>

<style scoped>

</style>
