<template>
	<div class="d-flex justify-content-center">
		<form class="col" style="max-width: 360px" v-if="!loggedIn" @submit.prevent="register">
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input type="text" required class="form-control" id="username" autocomplete="email" v-model="user.username" placeholder="Your username">
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="email" required class="form-control" id="email" autocomplete="email" v-model="user.email" placeholder="Your email">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">{{ $t('login.password') }}</label>
				<input type="password" required class="form-control" id="password" autocomplete="password" v-model="user.password" placeholder="Your password">
			</div>
				<div class="mb-3">
				<label for="password2" class="form-label">Confirm {{ $t('login.password') }}</label>
				<input type="password" required class="form-control" id="password2" autocomplete="password" v-model="confirmPass" placeholder="repeat your password">
			</div>
			<button class="btn btn-primary w-100" type="submit">
				Register
			</button>
		</form>
		<div v-if="loggedIn">{{ $t('login.alreadyLoggedIn') }}</div>
	</div>
</template>

<script>
import EventBus from '@/eventBus';
import LoginService from '../../services/LoginService';
import axios from 'axios';

export default {
	name: 'RegisterForm',
	data() {
		return {
			loggedIn: null,
			user: {username: '',email: '', password: ''},
			confirmPass: ''
		};
	},	
	methods: {
		register: function (e) {
			e.preventDefault();
			if(this.confirmPass !== this.user.password) {
				alert('Passwords dont match');
				return;
			}
			axios.post('/api/auth/signup', {username: this.user.username, email: this.user.email, password: this.user.password}).then(response =>{				
				this.$router.push({ name: "home"});
				console.log(response.data);
			});			
		}			
	},
	created() {
		EventBus.on('login-update', () => {
			this.loggedIn = LoginService.isLoggedIn();
			this.user.username = LoginService.userData.email;
		});
	},
	beforeMount() {
		if(LoginService.isLoggedIn()){
			this.$router.push({ name: "home"})
		}
	},
};
</script>

<style scoped>

</style>
